################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/site/FileContentIndex/2cd9727e-9ce6-4a54-8771-2db3be663c12.vsidx
/.vs/site/FileContentIndex/613d123e-de61-4601-9ecc-e539b12b5c48.vsidx
/.vs/slnx.sqlite
/.vs/site/FileContentIndex/83c1eb90-9c8d-4e3f-869f-b9a66d556f9e.vsidx
/.vs/site/FileContentIndex/9dea3213-6db0-4c29-8469-803d9caa3c33.vsidx
/.vs/site/FileContentIndex/5266a9bb-c1fb-460a-af09-b1bf5ccbea0e.vsidx
/.vs/site/FileContentIndex
